{
    "DartboardID": "MyOffice/Tasks",
    "CodingGuidelinesURLs": ["https://docs.google.com/document/d/e/2PACX-1vTCsVH6gYSmt2imnAbUmw4cljDelRyYD8WxGnhrtPYDPvV_1bUmuaOTmJIyKm7Kw-FuB1AqZbQ_JxiT/pub",
     "https://docs.google.com/document/d/e/2PACX-1vScy4_hNCq7JbTB1BK1B_fnclz4mSUCyRCUN5o4QYW6HOkThpU77Y1dzEGDYe3d8acQXUMJDoIfwzwi/pub"],
    "ApplicationName": "QtDesktopStorybook",
    "GeneralAIToolkitPath": "/home/dev/dev/prj/general-ai-toolkit",
    "ProjectSpecificAIToolkitPath": "/home/dev/dev/prj/cloud-office-ai-toolkit"

}